<h1>Genres</h1>

<div class="genre-main">
  <% @genres.each do |genre| %>
    <div class="genre-list grid">
      <%= link_to genre.name, genre_path(genre) %>
      <div class="genre-movies hs">
        <% genre.movies.each do |movie| %>
          <%= link_to image_tag(movie.image, :class => 'thumb', :alt => movie.title), movie %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
