<div class="list-main">
<% @lists.each do |list| %>
  <% if list.movies.present? %>
    <div class="movie-list">
      <h3><%= link_to list.name, list_path(list) %></h3>
      <% list.movies.each do |movie| %>
        <%= link_to image_tag(movie.image, :class => 'thumb', :alt => movie.title), movie %>
      <% end %>
  <% end %>
  </div>
<% end %>
