<h1>Actors</h1>

<div class="board">
  <% @actors.each do |actor| %>
  <div class="tile">
    <div class="photo">
      <%= link_to image_tag(actor.image, :class => 'thumb', :alt => actor.name), actor if actor.image.present? %>
    </div>
    <div class="photo-name">
      <%= link_to actor.name, actor %>
    </div>
  </div>
  <% end %>
</div>
