<h1>Home</h1>

<% if @current_user.present? %>
  <h2>Welcome <%= @current_user.username %></h2>
  <div class="list-main">
  <% @current_user.lists.each do |list| %>
    <h3><%= list.name %></h3>
    <% list.movies.each do |movie| %>
      <%= link_to image_tag(movie.image, :class => 'thumb', :alt => movie.title), movie %>
    <% end %>
  <% end %>
<% end %>
