<h1 class="hero">Discover</h1>

<div class="hero">
  <% @heroes.each do |hero| %>
  <div class="hero-tile">
    <div class="here-photo">
      <%= link_to image_tag(hero.image, :class => 'thumb-hero', :alt => ""), hero if hero.image.present? %>
    </div>
  </div>
  <% end %>
</div>
