<% if !@movies_result.nil? %>
 <h2>Movies found</h2>
 <p class="search-number"><strong>Found <%= pluralize @movies_result.count, "movie" %>.</strong></p>
 <ol>
 <% @movies_result.each do |movie|%>
     <li class="minor-top-buffer">
       <h5><%= link_to movie.title, movie_path(movie.id) %></h5>
         <% if movie.image.present? %>
           <%= link_to image_tag(movie.image, :class => "thumb", :alt => movie.title), movie %>
         <% end %>
     </li>
 <% end %>
 </ol>
<% else %>
 <p><span class="error_msg"><%= @message %></span></p>
<% end %>
