
<h2>Search for movies</h2>
<form class="search-movies" action="/result" method="get">
  <div>
    <label>
      <input type="search" name="title" required placeholder="Enter name of movie" class="form-control">
    </label>
  </div>


  <button class="btn btn-outline-primary">Search</button>
</form>

<!-- type="button" class="btn btn-secondary" -->
