<h2><strong>Results</strong></h2>

<div class="container minor-top-buffer">
  <form class="search-movies" action="/tmdb_result" method="get">
    <div class="tmdb-search row">
      <div class="col-3">
        <input type="search" name="title" required placeholder="Find on TMDB" class="form-control">
      </div>
      <div class="col-1">
        <button class="btn btn-outline-secondary">Search</button>
      </div>
    </div>
  </form>
</div>

<% if !@tmdb_results.nil? %>
<p class="search-number">Found <%= pluralize @tmdb_results.count, "movie" %>.</p>
<div class="container">
   <div id="movie-search-results" class="row">
      <% @tmdb_results.uniq.each do |movie| %>
      <div class="card">
        <%= image_tag "https://image.tmdb.org/t/p/w600_and_h900_bestv2" + movie['poster_path'], :class => 'thumb-result', :alt => movie['title'] if movie['poster_path'].present? %>
        <div class="card-body">
          <p>
            <% if @current_user.present? %>
              <%= link_to add_movie_path(movie["id"]), :class => "btn btn-outline-info" do %>
                <i class="fas fa-plus"></i>
              <% end %>
            <% end %>
          </p>
        </div>
      </div>
      <% end %>
    </div>
    <% else %>
  <p>No movies were found.</p>
  <% end %>
</div>
