

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  font-family: Arial, sans-serif;
  font-weight: 400;
  box-sizing: border-box;
  height: 100%;
}

.header {
  background-color: rgba(0,0,0,1);
  position: fixed;
  top: 0;
  left: 0;
  margin: 0 auto;
  width: 100%;
}

.container {
  min-height: 90vh;
  max-width: 100rem;
  margin: 6rem auto;
  padding: 2rem 2rem 0 2rem;
  border: 0.1rem solid silver;
}

.main-nav {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 0 3rem 0;
  width: 100rem;


  ul {
    height: 100%;
    list-style: none;
    text-align: right;

    li {
      display: inline-block;

      // &:nth-last-child(-n+2) {
      //   float: right;
      // }

      a {
        padding: 3rem 0.5rem;
        font-size: 1.6rem;
        text-decoration: none;
        color: white;
      }
    }
  }
}

.login-modal {
  border: 1px solid black;
}

.wrapper {
  padding: 2rem;
  border: 0.1rem solid silver;
}

.feature {
  height: 45rem;
}

.thumb {
  height: 25rem;
}
